body{
    font-family:Outfit ;
    font-weight:400;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}
.container{
    text-align: center;
    border-radius: 15px;
    background-color:hsl(0, 0%, 100%) ;
    margin: 620px;
    padding: 10px;
    overflow-wrap: break-word;
}
p.text{
 color:hsl(220, 15%, 55%);
}
